header{
    border: 0.1rem black solid;
    background-color: rgb(199, 197, 197);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: 3rem;
    padding: 1rem;
}

main{
    display: flex;
    flex-direction: column;
}

.seus_invest{
    border: 0.1rem black solid;
    margin: 3rem;
    padding: 1rem;
    background-color: rgb(199, 197, 197);
}

.b3{
    height: 8rem;
    width: 10rem;
    padding-bottom: 1rem;
}

h2{
    font-size: 1.5rem;
    padding-left: 7rem;
    padding-top: 1rem;
}

.center{
    display: flex;
    justify-content: center;
}

.space_bet{
    display: flex;
    justify-content: space-between;
}

.linha{
    display: flex;
    flex-direction: row;
}

.invst{
    border: 0.1rem black solid;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    height: 4rem;
    width: 17rem;
}

.saiba_mais{
    border: 0.1rem black solid;
    background-color: rgb(187, 255, 187);
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    height: 4rem;
    width: 19rem;
}

.vinc{
    border: 0.1rem black solid;
    background-color: rgb(150, 166, 249);
}

footer{
    margin: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sif{
    border: 0.1rem black solid;
    background-color: rgb(40, 37, 37);
}

.chat{
    border: 0.1rem black solid;
    background-color: rgb(40, 37, 37);
}